<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>    
  </head>
  
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <h1>Input Class Subjects</h1>
    <table class="table table-bordered">
      <% clses.forEach( cls => { %>
        <tr>
          <td><%= cls.name %></td>
          <td>
            
            <% subjects.map(function(subject){ %>              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  <%= subject.name %>
                </label>
                </div>                
            <%}) %>
              
            
          </td>
          <td>
            <button class="btn btn-primary">Save</button>
          </td>
        </tr>
        
      <% }) %>

    </table>
    <% clses.forEach( cls => { %>
        <%= cls.name %>
    <% }) %>



    <footer>
      <%- include('../partials/footer'); %>
    </footer>


  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">

  </script>

  </body>
</html>