<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table{
        table-layout: fixed;        
        width: 90%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.7em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);        
      }
        
        td {
        /* padding: 10px; */
        border: solid 1px;
        text-align: center;
        }
        td.teacher-name{
            text-align: left;
        }
     
      
    </style>
  </head>
  
  <body class="container">

    <header>
      
    </header>

<% var wkday = 1; %>


<div class="tab-content" id="myTabContent">

  <% Weekdays.forEach( weekday => { %>
    <div class="tab-pane fade <%= weekday.day_id === wkday ? 'show active' : '' %>" 
            id="<%= weekday.name %>" role="tabpanel" aria-labelledby="<%= weekday.name %>-tab">
      <h1 class="text-center"><%= weekday.name %></h1>
      

        

        <div class = "row">
          <div class = "col-sm-12">
            <table class="table table-bordered table-sm" border="1">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <% for(var i=0; i< weekday.periods; i++){ %>
                  <th><%= i+1 %></th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% var teacherSl = 0 %>
              <% Teachers.forEach((teacher)=>{ %>
                <tr>
                    <td><%= ++teacherSl %></td>
                  <td class="teacher-name"><%= teacher.name %></td>
                  <% for(var i=0; i< weekday.periods; i++){ %>
                    <td>
                      <% data = Schedules.filter(function(schedule){ 
                        return  schedule.weekday._id.equals(weekday._id ) && 
                                schedule.teacher._id.equals(teacher._id ) &&
                                schedule.period_no == (i+1) ;
                      }) %>
                      <% data.map(function(d){%>
                        <%  id = d._id %>
                        <%= d.subject.name %><br>
                        <%= d.class.name %>
                        <%= d.section.name %>
                      <%}) %>
                    </td>
                  <% } %>
                </tr>
              <% });%>
            </tbody>
          </table>
          </div>  
          
        </div>        
    </div>  
    <br><div style="page-break-after:always;"></div>
  <% }); %>
  
</div>








    <footer>
      <%- include('../partials/footer'); %>
    </footer>


  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">

  </script>

  </body>
</html>